hostname = store.steampowered.com
^https:\/\/store\.steampowered\.com\/(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/kaaaaai/kaaaaai.tools.scripts/7425947/quantumultx/steam-family/steam-family-poc.js
