hostname = store.steampowered.com
^https:\/\/store\.steampowered\.com\/(?:\?.*)?$ url script-response-body https://raw.githubusercontent.com/kaaaaai/kaaaaai.tools.scripts/742594724a9cc761d48a5edb06c1802896073958/quantumultx/steam-family/steam-family-poc.js
